#background{
    -fx-background-color: #DDFAFF;
}

#modifybutton{
    -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}
#deletebutton{
    -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}
#addbutton{
    -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}

#modifybutton:hover {
    -fx-background-color: rgb(30, 245, 155);
  }

#deletebutton:hover {
    -fx-background-color: rgb(30, 245, 155);
}

#addbutton:hover {
    -fx-background-color: rgb(30, 245, 155);
}
    
.button:pressed {
    -fx-background-color: rgb(30, 245, 155);
  
    -fx-border-color: rgb(49, 100, 79);
    -fx-border-radius: 20px;
    -fx-border-size: 3px;
  }
