#background {
    -fx-background-color: rgba(134, 246, 250, 0.5);
}
#engvibutton {
  -fx-background-color: rgba(15, 73, 233, 0.5);
  -fx-background-radius: 20px;
}
#engvibutton:hover {
  -fx-background-color: rgba(15, 233, 142, 0.5);
}
.button:pressed {
    -fx-background-color: rgb(30, 245, 155);
  
    -fx-border-color: rgb(49, 100, 79);
    -fx-border-radius: 20px;
    -fx-border-size: 3px;
  }
#viengbutton {
    -fx-background-color: rgba(15, 73, 233, 0.5);
    -fx-background-radius: 20px;
  }
#viengbutton:hover {
    -fx-background-color: rgba(15, 233, 142, 0.5);
  }
