#button {
  -fx-background-color: #ffcc00;
}

#button:hover {
  -fx-background-color: rgb(30, 245, 155);
}
.button:pressed {
  -fx-background-color: rgb(30, 245, 155);

  -fx-border-color: rgb(49, 100, 79);
  -fx-border-radius: 20px;
  -fx-border-size: 3px;
}
#windowsearch {
  -fx-background-color: #fff;
}
#read {
  -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}
#read:hover {
  -fx-background-color: rgba(15, 233, 142, 0.5);
}

#googlebutton {
  -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}
#googlebutton:hover {
  -fx-background-color: rgba(15, 233, 142, 0.5);
}

#dicbutton {
  -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}

#dicbutton:hover {
  -fx-background-color: rgba(15, 233, 142, 0.5);
}
#helpbutton {
  -fx-background-color: #ffcc00;
  -fx-background-radius: 20px;
}

#helpbutton:hover {
  -fx-background-color: rgba(15, 233, 142, 0.5);
}
#buttonX {
  -fx-background-color: #fff;
}
#buttonX:hover {
  -fx-background-color: rgb(172, 170, 170);
}
#buttonX:pressed {
  -fx-background-color: rgba(153, 160, 160, 0.5);

  -fx-border-color: rgb(49, 100, 79);
  -fx-border-radius: 0px;
  -fx-border-size: 3px;
}
#exportbutton {
  -fx-background-color: #ffcc00;
  -fx-padding: 10px 10px 10px 10px;
  -fx-font-size: 20px;
}

#exportbutton:hover {
  -fx-background-color: rgb(30, 245, 155);
}
#exportbutton:pressed {
  -fx-background-color: rgb(30, 245, 155);

  -fx-border-radius: 0px;
  -fx-border-color: rgb(49, 100, 79);
  -fx-border-size: 3px;
}
